# Google Cloud Project ID
GCP_PROJECT_ID=your-project-id-here

# BigQuery Dataset 
BQ_DATASET=analytics_results

# Google Sheets ID (for exporting results - optional)
GOOGLE_SHEET_ID=your-sheet-id-here

# Google Authetication
GOOGLE_APPLICATION_CREDENTIALS=/Users/YOUR_USERNAME/../Web-Analytics-Funnel-Analysis/credentials/service-account.json # your path